
    
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 23.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 23.33%;
    padding: 5px;
  }

 body{
    background-color:#FFF4E9;
    font-family: 'sans-sefif';

}
style{ 

    .container {
      display: flex;
      align-items: left;
      justify-content:left;
    }
    img {
      max-width: 100%
      object-fit: cover;
      vertical-align: bottom;
    }
    .image {
      flex-basis: 70%;
      order: 2;
      object-fit: cover;
      vertical-align: bottom;
    }
    .text {
      color: #6B2828;
      padding-left: 20px;
      font: "Didot"  "Didot bold";
    }
    

}

.menu{
    padding: 0 10px 30px 10px;
    display:grid;
    grid-template-columns: (200px, 1fr));
    grid-gap:10px 0px;

}
.heading {
    background-color:#6B2828;
    color:#EAD8C1;
    margin-bottom:30px;
    padding: 30px 0;
    grid-column:1/-1;
    text-align:center;
    
}

.heading>h1 {

font-weight:400;
font-size:30px;
letter-spacing:10px;
margin-bottom:10px;

}

.heading>h3{
    font-weight:660;
    font-size:22px;
    letter-spacing:5px;
}

.food-items{
    display:grid;
    position:relative;
    grid-template-rows:auto 1fr;
    border-radius:0px;
    box-shadow: 0 0 0px 
}

.food-items img {
position:none;
width: 20;
border-radius: 0px 0px 0 0;
}

h1{
    grid-column:1/-1;
    text-align:center;
}

.details {
    padding: 20px 10px;
    display:grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap:15px;
}

.details-sub>h5{
    font-weight:600;
    font-size:18px;

}

/* unvisited link */
a:link {
    color: green;
  }
a:hover { 
    background-color: yellow;
  }

  
.price{
    text-align:right;
}
.details>button{
    background-color:#6B2828;
    border:none;
    color:white;
    font-size:16px;
    border-radius:5px;
    width:180px;
}













